<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.policedog.craftadmin.dao.CourseCommentDAO">
    <select id="selectAll" resultType="CourseComment">
     SELECT
          a.id,
          a.courseid,
          a.studentid,
          a.comment
        FROM
          coursecomment AS a
    </select>

    <insert id="insert">
    INSERT INTO coursecomment (
      courseid,
      studentid,
      comment
    )
    VALUES
      (
        #{courseid},
        #{studentid},
        #{comment}
      )
    </insert>

    <delete id="delete">
      DELETE FROM coursecomment WHERE id = #{id}
    </delete>

    <select id="getBycourseId" resultType="CourseComment">
    SELECT
      a.id,
      a.courseid,
      a.studentid,
      a.comment
    FROM
      coursecomment AS a
    WHERE
      a.courseid = #{courseid}
    </select>

    <update id="update">
    UPDATE
      coursecomment
    SET
      courseid = #{courseid},
      studentid = #{studentid},
      comment = #{comment}
    WHERE id = #{id}
    </update>

    <delete id="deleteMulti">
        DELETE FROM coursecomment
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteMultiByStudentId">
        DELETE FROM coursecomment
        WHERE studentid IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>