<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.policedog.craftadmin.dao.VideoMSGDAO">
    <select id="selectAll" resultType="VideoMSG">
        SELECT
          a.id,
          a.content,
          a.created
        FROM
          videomsg AS a
    </select>

    <insert id="insert">
    INSERT INTO videomsg (
      content,
      created
    )
    VALUES
      (
        #{content},
        #{created}
      )
    </insert>

    <delete id="delete">
      DELETE FROM videomsg WHERE id = #{id}
    </delete>

    <select id="getById" resultType="VideoMSG">
    SELECT
      a.id,
      a.content,
      a.created
    FROM
      videomsg AS a
    WHERE
      a.id = #{id}
    </select>

    <update id="update">
    UPDATE
      videomsg
    SET
      content = #{content},
      created = #{created}
    WHERE id = #{id}
    </update>

    <select id="search" resultType="VideoMSG">
        SELECT
        a.id,
        a.content,
        a.created
        FROM
        videomsg AS a
        <where>
            <if test="id!=null and id!=''">
                OR a.id LIKE CONCAT ('%',#{id},'%')
            </if>
            <if test="content!=null and content!=''">
                OR a.content LIKE CONCAT ('%',#{content},'%')
            </if>
        </where>
    </select>
    <delete id="deleteMulti">
        DELETE FROM videomsg
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>